# required for openai API
OPENAI_API_KEY=
# required for anthropic API
ANTHROPIC_API_KEY=
# required for gemini API
GOOGLE_API_KEY=
# required for together AI API
TOGETHER_API_KEY=
# required for huggingface inference endpoints
HF_TOKEN=
# required for deepseek API
DEEPSEEK_API_KEY=
# required for gray swan API
GRAYSWAN_API_KEY=
# required for elevenlabs text to speech
ELEVENLABS_API_KEY=
# required for gemini via vertex AI
GOOGLE_PROJECT_ID=
# required for gemini via vertex AI
GOOGLE_PROJECT_REGION=
# required for openrouter API
OPENROUTER_API_KEY=

AZURE_ENDPOINT=
AZURE_API_VERSION=
AZURE_API_KEY=
AZURE_GPT4.1=


AZUREAI_OPENAI_BASE_URL=
AZUREAI_OPENAI_API_VERSION=
AZUREAI_OPENAI_API_KEY=
AZUREAI_OPENAI_GPT4.1=