torch
accelerate
jupyter
matplotlib
numpy
pandas
plotly
seaborn
python-dotenv
sentence-transformers
transformers
aiolimiter
tabulate
tqdm
pyarrow

openai
anthropic
google-genai
googletrans
inspect-ai

evaluate
datasets
rouge_score
requests
boto3
